body {
  color: #000000;
  font-family: 'Roboto', sans-serif;
  background: #FFFFFF;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

/* header {
  background: ;
} */

h1 {
  font-family: 'Archivo', sans-serif;
  font-size: 4em;
  color: #FF6F61;
  margin: 0;
}
h2 {
  font-family: 'Archivo', sans-serif;
  font-size: 1.75em;
  margin: 0;
}

.collapsible {
  color: #FFFFFF;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1em;
}

.active, .collapsible:hover {
  background-color: #88b04b;
}

.collapsible:after {
  content: '\002B';
  /* color: #DECDBE; */
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 5 5;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease-out;
  background: rgba(255,255,255,.5);
  width: 100%;
}

/* These are monochromatic colors and shades of #DD4124 colorhexa.com*/

.javaScript {
  background-color: #9c2d18;
}
.Node {
  background-color: #b2331c;
}

.Express {
  background-color: #dd4124;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

li {
  padding-inline-start: 40px;
  margin: 10px 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #88b04b;
}



.languages {
  background:rgba(155,183,212,1);
  justify-content: center;
  align-items: center;
}

.description {
  background:rgba(155,183,212,.1);
}

.main {
  /* background: orange; */
  justify-content: center;
  align-items: center;
}

iframe {
  width: 100%;
  height: 800px;
}


/* Media Queries */

@media all and (max-width: 700px) {
  h1 { font-size: 3em }
  h2 { font-size: 1.25em }
}

@media all and (min-width: 600px) {
  .aside { flex: 1 0 0 }
  .description {flex-grow: 3}
  
}

@media all and (max-width: 500px) {
  h1 { font-size: 2em }
  h2 { font-size: 1em }
  .collapsible { width: 100%; }
  .content { width: 100%; }
}

@media all and (max-width: 400px) {
  .collapsible { width: 100%; }
  .content { width: 100%; }
  .description { height: 200px;
    overflow: scroll; }
}

@media all and (max-width: 350px) {
  h1 { font-size: 1em }
  h2, .collapsible, .languages { font-size: .75em }
  .description { font-size: .5em }
  .collapsible { width: 100%; }
  .content { width: 100%; }
  .description { height: 150px;
  overflow: scroll; }
}
