body {
  /* padding: 2em;  */
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  display: flex;  
  flex-flow: row wrap;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

header {
  /* background: #FF6F61; */
}

h1{
  font-family: 'Archivo', sans-serif;
  font-size: 5em;
  margin: 0;
}
h4{
  font-family: 'Archivo', sans-serif;
  font-size: 2em;
  margin: 0;
}

.main {
  text-align: left;
  /* background: deepskyblue; */
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 50%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 5 5;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
  width: 50%;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

li {
  padding-inline-start: 40px;
  margin: 10px 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

.languages {
  /* background: gold; */
  justify-content: flex-start;
}

.description {
  /* background: hotpink; */
}

iframe {
  width: 100%;
  height: 800px;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 0 0 }
  .languages { width: 30%};
  .description { width: 70%};
}

@media all and (max-width: 700px) {
  h1 { font-size: 3em }
}

@media all and (max-width: 500px) {
  h1 { font-size: 2em }
}

@media all and (max-width: 350px) {
  h1 { font-size: 1em }
}
