body {
  color: #000000;
  /* font-family: 'Roboto', sans-serif; */
  font-family: Helvetica, sans-serif;
  background: #FFFFFF;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

/* header {
  background: ;
} */

h1 {
  /* font-family: 'Archivo', sans-serif; */
  font-family: Helvetica, sans-serif;
  font-size: 4em;
  color: #FF6F61;
  margin: 0;
}

h2 {
  /* font-family: 'Archivo', sans-serif; */
  font-family: Helvetica, sans-serif;
  font-size: 1.75em;
  margin: 0;
}

.languages {
  /* background:rgba(155,183,212,1); */
}

.description {
  /* background:rgba(155,183,212,.1); */
  line-height: 1.5em;
}

.main {
  /* background: orange; */
  display: flex;
  justify-content: space-around;
}
.collapsible {
  color: #FFFFFF;
  padding: 1em;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1em;
}

.active, .collapsible:hover {
  background-color: #88b04b;
}

.collapsible:after {
  content: '\002B';
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
  background: rgba(222,205,190,.3);
  font-size: .75em;
  width: 100%;
  overflow: auto;
}

/* These are monochromatic colors and shades of #DD4124 colorhexa.com*/

.javaScript {
  background-color: #9c2d18;
}
.Node {
  background-color: #b2331c;
}

.Express {
  background-color: #dd4124;
}

ul {
  list-style-type: none;
  padding-inline-start: 0em;
}

li {
  padding-inline-start: 1.5em;
  margin: 10px 0px;

}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #88b04b;
}

iframe {
  width: 100%;
  height: 700px;
}

.popup-overlay{
  /*Hides pop-up when there is no "active" class*/
  visibility:hidden;
  position:absolute;
  background:#ffffff;
  border:3px solid #ffffff;
  width:90%;
  height:725px;
  /* left:25%;  */
}
.popup-overlay.active{
  /*displays pop-up when "active" class is present*/
  visibility:visible;
  text-align:center;
}

.popup-content {
  /*Hides pop-up content when there is no "active" class */
 visibility:hidden;
}

.popup-content.active {
  /*Shows pop-up content when "active" class is present */
  visibility:visible;
}

.open .close{
  display:inline-block;
  vertical-align:middle;
  margin:.20rem;
  font-size: 1rem;
  color:#666666;
  background:#ffffff;
  border:1px solid #666666;  
}

.open:hover .close:hover{
  border:1px solid #666666;
  background:#666666;
  color:#ffffff;
}



/* Media Queries */

@media all and (min-width: 801px) and (max-width: 1000px) {
  .content {font-size: .5em}
  
}

@media all and (min-width: 800px) {
  .aside { flex: 1 0 0 }
  .description {flex-grow: 3}  
}

@media all and (max-width: 700px) {
  h1 { font-size: 3em }
  h2 { font-size: 1.25em }  
}

@media all and (max-width: 500px) {
  h1 { font-size: 1em }
  h2, .collapsible, .languages, .projectLink { font-size: .75em }
  .description { font-size: .5em }
  .content {font-size: .5em}  
}



/* 

.popup-overlay{
  /*Hides pop-up when there is no "active" class*/
  /* visibility:hidden;/* 
  position:absolute;
  background:#ffffff;
  border:3px solid #666666;
  width:50%;
  height:50%;
  left:25%; 
}/* 
.popup-overlay.active{
  /*displays pop-up when "active" class is present*/
  /* visibility:visible;
  text-align:center;
}

.popup-content {
  /*Hides pop-up content when there is no "active" class */
 /* visibility:hidden;
}

.popup-content.active {
  /*Shows pop-up content when "active" class is present */
 /*  visibility:visible;
}

.open .close{
  display:inline-block;
  vertical-align:middle;
  border-radius:30px;
  margin:.20rem;
  font-size: 1rem;
  color:#666666;
  background:   #ffffff;
  border:1px solid #666666;  
}

.open:hover .close:hover{
  border:1px solid #666666;
  background:#666666;
  color:#ffffff;
} */
